<html>
  <head>
    <title>Kieft Dashboard Toy</title>
    <style>
      .progress {
          width: 100%;
          text-align: center;
      }
    </style>
    <script src="//cdnjs.cloudflare.com/ajax/libs/nanobar/0.4.2/nanobar.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.min.js"></script>

  </head>
  <body>
    <h1>Kieft Dashboard Toy</h1>
    <p>
      <b>Dataset</b>: {{ dataset }}<br>
      <b>Room</b>:
      <span id="room">{% if room %}{{ room }}{% else %}(None yet){% endif %}</span>
      <br>
      <b>Output</b>:
      <span id="output">{% if result %}{{ result }}{% endif %}</span>
      <br>

      <form id="taskform">
	{{ form.hidden_tag() }}
	{{ form.name.label }}: {{ form.name() }}
	<!-- <button id="start-bg-job">Start Long Calculation</button> -->
	<input type="submit" value="Start Long Calculation">
      </form>
    </p>

    <br><br>

    <div id="progress"></div>

    <br><br>
    <p>SocketIO Status:</p>
    <ul id="status"></ul>

    <script>
      $(document).ready(function(){

	  // Make sure to send CSRF token for form validation
	  $.ajaxSetup({
              beforeSend: function(xhr, settings) {
       		  if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
       		      xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token() }}" );
       		  }
	      }
	  });


	  function assert(cond, msg) {
	      if (!cond)
		  throw msg || "Assertion failed";
	  }
          var roomId = {% if room %}"{{ room|safe }}"{% else %}undefined{% endif %};
	  var dataset = '{{ dataset|safe }}';
	  var url = 'http://' + document.domain + ':' + location.port;
	  var socket = undefined; // io.connect(url);
	  var nanobar = undefined;
	  var progress_div = undefined;
	  

	  function setupConnection() {
	      socket = io.connect(url);
	      socket.on('connect', () => {
		  updateStatus('Connected.');
		  assert(roomId);
		  socket.emit('join_room', {'roomid': roomId});
	      });
	      socket.on('connect_error', () => console.log("connect error!"));
	      socket.on('disconnect', (reason) => updateStatus(`Got disconnected: ${reason}`))
	      socket.on('taskprogress', (msg) => { // celery status
		  console.log("Got task progress.");
		  updateProgress(msg);
	      }); 
	      socket.on('taskdone', (data) => {
		  console.log(`Done: ${data}`);
		  $('#output').text(data);
		  
	      });
              socket.on('status', (msg) => updateStatus(msg.status)); // server/socket status
	  }

	  {% if room and not done %} // Need to join the room right away
	  assert(roomId);
	  console.log(`Joining in-progress task: ${roomId}`)
	  progress_div = $('<div class="progress"><div></div><div>0%</div><div>...</div><div>&nbsp;</div></div><hr>');
          $('#progress').html(progress_div);

	  nanobar = new Nanobar({bg: '#44f', target: progress_div[0].childNodes[0]});    

	  setupConnection();
	  {% endif %}

	  $('#taskform').submit( (e) => {
	      start_long_task();
	      e.preventDefault();
	  });
	  
          function start_long_task() {
              progress_div = $('<div class="progress"><div></div><div>0%</div><div>...</div><div>&nbsp;</div></div><hr>');
              $('#progress').html(progress_div);

	      nanobar = new Nanobar({bg: '#44f', target: progress_div[0].childNodes[0]});

	      const tmp = $('#taskform').serializeArray();
	      let formdata = {};
	      $.map(tmp, (obj, i) => formdata[obj['name']] = obj['value']);
	      data = {'dataset': dataset, 'formdata': formdata};
	      console.log(data);

              // send ajax POST request to start background job
              $.ajax({
                  type: 'POST',
                  url: "{{ url_for('all.longtask') }}",
                  contentType: "application/json; charset=utf-8",
                  dataType: "json",
                  data: JSON.stringify(data),
		  success: function(data, status, request) {
		      roomId = data.roomid;
		      updateStatus(`Server assigned us room: ${data.roomid}`);
		      updateStatus(`Returned name is: ${data.name}`);
		      $('#room').html(`<a href="${dataset}/${data.roomid}">${data.roomid}</a>`);
		      setupConnection();
                  },
                  error: function(data) {
                      console.log(`Unexpected error: ${data}`);
                  }
		  
	      });
	      
          }
	  
          function updateProgress(data) {
	      assert(nanobar, "Nanobar not yet defined!");
              percent = parseInt(data['current'] * 100 / data['total']);
              nanobar.go(percent);
              // var ele = $('#'+data.elementid);
              // $(ele[0].childNodes[1]).text(percent + '%');
              // $(ele[0].childNodes[2]).text(data['status']);
	      $(progress_div[0].childNodes[1]).text(percent + '%');
	      $(progress_div[0].childNodes[2]).text(data['status']);

              if ('result' in data) { // show result
		  $(progress_div[0].childNodes[3]).text('Result: ' + data['result']);
              }
          }

	  function getTimestamp() {
	      const now = new Date();
	      const year = now.getFullYear();
	      const month = (now.getMonth()+1).toString().padStart(2, '0');
	      const day = now.getDate().toString().padStart(2, '0');
	      const h = now.getHours()
	      const m = now.getMinutes();
	      const s = now.getSeconds();
	      return `${year}/${month}/${day} ${h}:${m}:${s}`;
	  }

	  function updateStatus(msg) {
	      timestamp = getTimestamp();
	      $('#status').append(`<li>[${timestamp}] ${msg}</li>`);
	  }
	  
          // $('#start-bg-job').click(start_long_task);

      });
    </script>

  </body>
</html>
